body {
    background-color: #197EC0FF;
    display: fles;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

#topDiv {
    display: flex;
    justify-content: center;
}
#container1 {
    
    border-style: solid;
    border-width: 5px;
    border-color: #FED439FF;
    color: #D5E4A2FF;
    width: 300px;
    align-content: center;
    list-style: none;
}

#container2 {
    /* border-style: solid;
    border-width: 5px;
    border-color: #FED439FF; */
    color: #D5E4A2FF;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#yourChoiceBox {
    /* border-style: solid;
    border-width: 5px;
    border-color: #FED439FF; */
}

#yourImageBox {
    border-style: solid;
    border-width: 5px;
    border-color: #FED439FF;
    margin: 10px;
    height: 200px;
    width: 200px;
    display: flex;
}

#computerImageBox {
    border-style: solid;
    border-width: 5px;
    border-color: #FED439FF;
    margin: 10px;
    height: 200px;
    width: 200px;
    display: flex;
}

#computerChoiceBox {
    /* border-style: solid;
    border-width: 5px;
    border-color: #FED439FF; */
}

p {
    text-align: center;
}

#container3 {
display: flex;
justify-content: center;
}

img {
    width: 150px;
    margin: auto;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.btn {
    font-size: 24px;
}

#handshakePic {
    display: none;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
}